.wrapper-page {
    background: #eaeaea;
    padding: 30px 50px;
}

.bg-page {
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    background-color: #fff;
}

.all-section-margin {
    margin: 0 20px;
}

.hiring {
    margin-top: 40px;
    margin-bottom: 10px;
}

.hiring-content {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-left: 3px solid #0FBE7C;
}

.hiring-content .text h3 {
    color: #222222;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
}

.hiring-content .text p {
    color: #222222;
    line-height: 24px;
    margin-bottom: 15px;
    font-size: 16px;
}

.hiring-content a {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #0FBE7C;
    color: #ffff;
    font-size: 22px;
    padding: 9px 37px;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s all ease;
}

.hiring-content a:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background-color: #008c4a;
}

.Bg-info {
    margin-top: 60px;
    margin-bottom: 40px;
}

.info-content {
    text-align: center;
    padding: 0 40px;
}

.info-content i {
    font-size: 70px;
    color: #0fbe7c;
    margin-bottom: 20px;
}

.info-content h3 {font-size: 22px;padding-bottom: 10px;}


.info-content h3 a {
    color: #222222;
    text-decoration: none;
}

.info-content a:hover {
    color: #0fbe7c;
}

.info-content p {font-size: 16px;line-height: 24px;margin-bottom: 15px;}

.info-content .more-link {
    font-size: 14px;
    color: #0FBE7C;
    display: inline-block;
    transition: 0.5s all ease;
}

.info-content .more-link:hover {
    text-decoration: underline;
    color: #666666;
}

.footer {
    padding: 10px 20px;
    background-color: #F8F8F8;
    border-top: 1px solid #EAEAEA;
}



.copyright p {
    color: #666666;
    font-size: 12px;
    margin-bottom: 0;
}

.copyright p a {
    color: #666666;
    text-decoration: none;
}

.copyright p a:hover {
    color: #0FBE7C;
}


/* main title Starts */

.main-title {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05) inset;
    padding: 20px;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
}

.main-title h1 {
    color: #222222;
    font-size: 22px;
    margin-bottom: 0;
    line-height: 36px;
}

/* main title Ends */


/* About Us page starts */

.about-us-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.about-us-content h4 {
    line-height: 24px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666666;
    font-weight: 700;
}

.about-us-content p {
    line-height: 24px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666666;
}

.about-us-content img {
    width: 100%;
    padding: 30px 0 0 30px;
    transition: 0.2s all ease;
}

.about-us-content img:hover {
    opacity: 0.8;
    box-shadow: #000 0 0 0;
}

/* About Us page Ends */


/* Careers page Starts */
.careers-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.careers-content .width {
    width: 800px;
    margin: auto;
}

.careers-custom {
    text-align: center;
}

.careers-custom img {
    width: 400px;
}

.careers-custom p {
    line-height: 24px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666666;
}
/* Careers page Ends */
